<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
    {% block stylesheets %}
        {{ encore_entry_link_tags('global_styles') }}
        {# <link rel="stylesheet" href="/public/styles/global.css" #}
    {% endblock %}

    {% block javascripts %}
        {# {{ encore_entry_script_tags('app') }} #}
    {% endblock %}
</head>
<body>
<nav class="navigation">
    <ol class="navigation__list">
        <li>first nav</li>
        <li>second nav</li>
        <li>third nav</li>
        <li>fourth nav</li>
    </ol>
</nav>
{% block body %}
{% endblock %}
<footer class="footer">
    <article class="footer__disclaimer_article">
        <span class="footer__disclaimer_article__copyright">copyright example</span>
    </article>
</footer>
</body>
</html>
