@import '../variables/colors';

.book_edition_lang_info {
  display: grid;
  grid-template-areas:"image information"
                      "other other";
  grid-gap: 16px;
  grid-template-columns: 350px auto;
  grid-template-rows: 600px auto;
}

.book_info__image {
  grid-area: image;
}

.book_info__edition {
  grid-area: information;
  display: flex;
  flex-direction: column;
}

.book_info__edition__summary {
  overflow: auto;
}

.book_other_info {
  grid-area: other;
}