{% extends 'base.html.twig' %}
{% block title %}Books{% endblock %}
{% block actions %}
    <a class="link_to_button button--primary" href="{{ path('createBookEditionLang') }}">Create book!</a>
{% endblock %}
{% block body_content %}
    {% include('library/books/book-edition-lang-list.html.twig') %}
{% endblock %}