@import "../mixins/buttons";

.link_to_button {
  @include button();

  &:hover {
    color: inherit;
  }
}

.button {
  @include button();
}

.button--primary {
  @include button--primary();
}

.button--primary-inverted {
  @include button--primary-inverted();
}

.button--alert {
  @include button--alert();
}

.button--search {
  background-color: transparent;
  padding: 8px;
  border: 0;
}