{% extends 'base.html.twig' %}

{% block stylesheets_custom %}
    {{ encore_entry_link_tags('login_register_styles') }}
{% endblock %}

{% block all %}
    <section class="login">
        <h1>Sign in</h1>
        <form action="{{ path('login') }}" class="login__form" method="post">
            <div class="email_section form_section">
                <label for="email">Email</label>
                <input class="input input--text" type="text" id="email" name="_email"/>
            </div>

            <div class="email_section form_section">
                <label for="password">Password</label>
                <input class="input input--text" type="password" id="password" name="_password"/>
            </div>

            <button class="button button--primary" type="submit">Sign in</button>
        </form>
        <a href="{{ path('register') }}" class="">Create an account</a>
    </section>
{% endblock %}