@import '../variables/colors';

.book_list__book_summary.book_summary {
  display: grid;
  grid-template-areas:"image information"
                      "tags tags";
  grid-template-columns: 100px auto;
  grid-template-rows: 80px auto;
  grid-gap: 8px;
  padding: 12px;

  &:hover {
    background-color: $grey-4-color !important;
  }

  @media (max-width: 500px) {
    grid-template-areas:"image"
                      "information"
                      "tags";
    .book_summary__image {
      margin-left: auto;
      margin-right: auto;
    }
    grid-template-columns: 100% 100%;
  }
}

.book_summary__image {
  grid-area: image;
}

.book_summary__information {
  grid-area: information;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.book_summary__tags {
  grid-area: tags;
}